## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Weather_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.79,-50.01,67.14,64,100,7.14,overcast clouds
1,1,Vaini,TO,-21.20,-175.20,77.00,73,40,8.05,scattered clouds
2,2,Provideniya,RU,64.38,-173.30,50.00,76,75,13.42,broken clouds
3,3,Mataura,NZ,-46.19,168.86,46.99,76,100,7.00,overcast clouds
4,4,Belmonte,BR,-15.86,-38.88,75.20,78,40,8.05,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = int(input("What's the minimum Temperature criteria?"))
max_temp = int(input("What's the maximum Temperature criteria?"))

What's the minimum Temperature criteria?45
What's the maximum Temperature criteria?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_selection = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp)&(city_data_df['Max Temp'] <= max_temp)]
city_selection

,Weather_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.79,-50.01,67.14,64,100,7.14,overcast clouds
1,1,Vaini,TO,-21.20,-175.20,77.00,73,40,8.05,scattered clouds
2,2,Provideniya,RU,64.38,-173.30,50.00,76,75,13.42,broken clouds
3,3,Mataura,NZ,-46.19,168.86,46.99,76,100,7.00,overcast clouds
4,4,Belmonte,BR,-15.86,-38.88,75.20,78,40,8.05,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Pafos,CY,34.77,32.42,71.60,68,0,8.05,clear sky
680,680,Armidale,AU,-30.52,151.65,59.00,83,0,5.01,clear sky
682,682,Gikongoro,RW,-2.46,29.57,61.81,65,0,3.60,clear sky
683,683,Tam Ky,VN,15.57,108.48,86.00,70,20,3.36,few clouds
684,684,Banda Aceh,ID,5.56,95.32,80.80,75,91,11.90,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
city_selection.isnull().sum()

Weather_ID             0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_selection.dropna()
clean_df.isnull().sum()

Weather_ID             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Castro,BR,67.14,overcast clouds,-24.79,-50.01,
1,Vaini,TO,77.00,scattered clouds,-21.20,-175.20,
2,Provideniya,RU,50.00,broken clouds,64.38,-173.30,
3,Mataura,NZ,46.99,overcast clouds,-46.19,168.86,
4,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,
5,Bengkulu,ID,77.79,few clouds,-3.80,102.27,
6,Severo-Kurilsk,RU,53.15,clear sky,50.68,156.12,
7,Rikitea,PF,74.32,clear sky,-23.12,-134.97,
10,Atuona,PF,78.35,clear sky,-9.80,-139.03,
11,Hilo,US,82.40,overcast clouds,19.73,-155.09,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame

    lat = row[4]
    lng = row[5]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    params["location"] = f"{lat},{lng}"
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
clean_hotel_df = hotel_df.replace({'':np.nan}).dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Castro,BR,67.14,overcast clouds,-24.79,-50.01,CHACARA BAILLY
1,Vaini,TO,77.00,scattered clouds,-21.20,-175.20,Keleti Beach Resort
3,Mataura,NZ,46.99,overcast clouds,-46.19,168.86,Ellie's Villa
4,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
5,Bengkulu,ID,77.79,few clouds,-3.80,102.27,Grage Hotel Bengkulu
...,...,...,...,...,...,...,...
679,Pafos,CY,71.60,clear sky,34.77,32.42,Elysium Hotel
680,Armidale,AU,59.00,clear sky,-30.52,151.65,Abbotsleigh Motor Inn
682,Gikongoro,RW,61.81,clear sky,-2.46,29.57,Ubumwe Center Kigeme Ltd
683,Tam Ky,VN,86.00,few clouds,15.57,108.48,Tam Ky Hotels - Tram Oanh Hotel
684,Banda Aceh,ID,80.80,overcast clouds,5.56,95.32,OYO 884 Rumoh PMI Hotel

In [15]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))